<h3>New content publisher:</h3></br>
<%= form_for(@content) do |f| %>
	<%= f.label "Title" %></br>
	<%= f.text_field :title, :size => 94 %></br></br>
	<%= f.label "Subtitle" %></br>
	<%= f.text_field :subtitle, :size => 94 %></br></br>
	<%= f.label "Type (Select One):" %></br>	
	<%= f.select :content_type, options_for_select([["Article", "article"], ["Blog", "blog"], ["Video", "video"], ["External", "external"], ["Tip", "tip"]],  @content.content_type) %></br></br>
	Select Image for Content display (Optional but recommended, 680x240 pixels): </br>
	<%= f.file_field :avatar %>	</br> </br>
	<%= "Publish Date: " + Date.today.strftime("%d %b. %Y") %></br>
	<%= "Author: " + "TODO" %></br>
	<%= tinymce_assets %>
	<%= text_area_tag :body, '', :class => "tinymce", :rows => 25, :cols => 73 %>
	<%= tinymce %> </br></br>
	<%= f.label "Tags (seperate by commas):" %></br>
	<%= f.text_field :tags, :size => 94 %></br></br>
<%= f.submit "Publish", class: "more" %>
<% end %>
