<h1>Admin console</h1>
<h2>Listing users</h2>

<table border="3">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Manager</th>
    <th>Active mode</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td style="text-align: center", width="10%"><%= user.username %></td>
    <td style="text-align: center", width="20%"><%= user.email %></td>
    <td style="text-align: center", width="10%"><%= user.admin %></td>
    <td style="text-align: center", width="10%"><%= user.manager %></td>
    <td style="text-align: center"><%= user.activation_state %></td>
    <td> <!--show number of comments user has--> </td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
