<ul>
   <li><%= link_to "Home", :root, :id=>"homeLink", :remote=>"true"  %></li>
   <li><%= link_to "Articles", contents_path(:content_type => "article"), :id=>"articleLink", :remote=>"true" %></li>
   <li><%= link_to "Blogs", contents_path(:content_type => "blog"), :id=>"blogLink", :remote=>"true" %></li>
   <li><%= link_to "Videos", contents_path(:content_type => "video"), :id=>"videoLink", :remote=>"true" %></li>
   <li><%= link_to "External Sources", contents_path(:content_type => "external"), :id=>"externalLink", :remote=>"true" %></li>
</ul>